<h1>Xoa sach</h1>
<a routerLink="/">Danh sach</a>
<br><br>
<form [formGroup]="bookForm" (ngSubmit)="delete()" >
  <div>
    <label for="title">Name: </label>
    <input type="text" id="title" formControlName="title">
  </div>
  <div>
    <label for="author">Author: </label>
    <input type="text" id="author" formControlName="author">
  </div>
  <div>
    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="5">{{bookForm.value.description}}</textarea>
  </div>
  <div>
    <button>Delete</button>
  </div>
</form>
