<h1>Them sach</h1>
<a routerLink="/">Danh sach</a>
<br><br>
<form [formGroup]="bookForm" (ngSubmit)="createBookUsingReactiveForm()">
  <div>
    <label for="title">Name: </label>
    <input type="text" id="title" formControlName="title">
  </div>
  <div *ngIf="titleControl.touched && titleControl.invalid">
    <p style="color: red" *ngIf="titleControl.errors?.required">Truong nay bat buoc phai nhap</p>
  </div>
  <div>
    <label for="author">Author: </label>
    <input type="text" id="author" formControlName="author">
  </div>
  <div>
    <label for="description">Description: </label>
    <input type="text" id="description" formControlName="description">
  </div>
  <div>
    <button>Tao moi</button>
  </div>
</form>
